{% extends 'Base/base.html.twig' %}

{% block body %}

    <p>{{ categorie }}</p>

    <ul>
    {% for product in products %}

        <form action="/product/addproductinbag/{{ product.id }}">

            <li> <strong>{{ product.nom }}</strong></li>
            <li> <strong>{{ product.prix }}</strong></li>
            <select name = "quantity">
                {% for i in 0..product.quantity %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <button type="submit">ajouter</button>

        </form>

    {% endfor %}
    </ul>

{% endblock %}