{% extends 'Base/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Product/printProducts.css') }}" />
{% endblock %}

{% block body %}

    <p class="titleProduct">{{ categorie }}</p>

    <div class="productForm">
        <div class="divImg">
            <p class="textS">Image</p>
        </div>
        <p class="nameAndPrice textS">Name</p>
        <p class="nameAndPrice textS">Price</p>
        <div class="selectAndButton">
            <p class="textS">Select quantity</p>
        </div>
        <div class="selectAndButton">
            <p class="textS">Send to bag</p>
        </div>
    </div>

    {% for product in products %}

        {% if product.quantity > 0 %}
            <form class="productForm" action="/product/addProductInBag/{{ product.id }}">

                {% if product.img is not empty %}

                    {% set pathImg =  "Images/fruitsImg/" ~ product.img %}
                    <div class="divImg"><img class="imgProduct" alt="{{ product.nom }}" src="{{ asset(pathImg) }}"/></div>

                {% else  %}

                    <div class="divImg"><img class="imgProduct" alt="Default image" src="{{ asset('Images/defaultImage.png')}}"/></div>

                {% endif %}
                <p class="nameAndPrice textS">{{ product.nom }}</p>
                <p class="nameAndPrice textS">{{ product.prix }}€</p>

                <div class="selectAndButton">
                    <label>
                        <select name="quantity_all" class="selectQ">
                            {% set foo = 0 %}
                            {% for lineproduct in lineproducts %}
                                 {% if lineproduct.id_product.id == product.id %}
                                    {% set foo = lineproduct.quantity * -1 %}
                                 {% endif %}
                            {% endfor %}
                            {% for i in foo..product.quantity %}

                                    <option value="{{ i }}">{{ i }}</option>

                            {% endfor %}


                        </select>
                    </label>
                </div>
                <div class="selectAndButton">
                    <button type="submit">Add</button>
                </div>

            </form>
        {% endif %}

    {% endfor %}

{% endblock %}