{% extends 'Base/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Admin/editUsers.css') }}" />
{% endblock %}

{% block body %}
    <h3>Edit Users</h3>

    <div id="flash">
        {% include 'Layouts/flash.html.twig' %}
    </div>

        {% for user in users %}


            <form action="/suppUser/{{ user.id }}">
                <ul>
                    <li><strong>Login: </strong> {{ user.login }} </li>
                    <li><strong>Password: </strong> {{ user.password }} </li>
                    <li><strong>Last Name: </strong> {{ user.name }} </li>
                    <li><strong>First Name: </strong> {{ user.firstName }} </li>
                    <li><strong>Mail: </strong> {{ user.mail }} </li>
                    <li><strong>Birth Date: </strong> {{ render(controller(
                            'App\\Controller\\AdminController::stringDateAction', {date: user.birthDate}
                        )) }} </li>
                    <li><strong>Type: </strong>
                    {% if ('ROLE_SUPER_ADMIN' in user.roles) %}
                        Super Admin
                    {% elseif('ROLE_ADMIN' in user.roles) %}
                        Admin
                    {% elseif ('ROLE_USER' in user.roles) %}
                        User
                    {% else %}
                        Unknown
                    {% endif %}

                    </li>
                    {% if not(('ROLE_SUPER_ADMIN' in user.roles) or (currentUser == user)) %}

                        <button type="submit">Remove</button>

                    {% endif %}
                </ul>
            </form>

        {% endfor %}

{% endblock %}