{% extends 'Base/baseForm.html.twig' %}

{% block body %}

    <div class="form">

        {{ form_start(form, {'attr': {'class': 'divForm'}}) }}

        <h3>Edit Profile</h3>

        {{ form_widget(form.login) }}
        {{ form_errors(form.login, {'attr': {'class': 'errorForm'}}) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password, {'attr': {'class': 'errorForm'}}) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name, {'attr': {'class': 'errorForm'}}) }}
        {{ form_widget(form.firstName) }}
        {{ form_errors(form.firstName, {'attr': {'class': 'errorForm'}}) }}
        {{ form_widget(form.mail) }}
        {{ form_errors(form.mail, {'attr': {'class': 'errorForm'}}) }}
        {{ form_widget(form.birthDate) }}
        {{ form_errors(form.birthDate, {'attr': {'class': 'errorForm'}}) }}
        {{ form_row(form._token) }}

        <button type="submit" id="user_sign_in_send" name="user_sign_in[send]">Edit</button>

    </div>
{% endblock %}