{% extends 'Base/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Product/printBag.css') }}" />
{% endblock %}

{% block body %}
    <div id="accueilTitle">
        <p id="titleP">Panier</p>
    </div>

    <div class="productForm">
        <p class="productField nameAndPrice textS">Name</p>
        <p class="productField nameAndPrice textS">Price</p>
        <p class="productField quantityInBag">InBag</p>
        <div class="selectAndButton">
            <p class="textS">RemoveFromBag</p>
        </div>
    </div>

{% for lineproduct in panier.id_LineProducts %}

<form class="productForm" action="/product/removeProductFromBag/{{ lineproduct.id }}">

    <p class="productField nameAndPrice textS">{{ lineproduct.id_product.nom }}</p>
    <p class="productField nameAndPrice textS">{{ lineproduct.price }}</p>
    <p class="productField quantityInBag">{{ lineproduct.quantity }}</p>
    <div class="selectAndButton">
        <button type="submit">Remove</button>
    </div>

</form>
{% endfor %}

{% endblock %}
